* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
}

.main-container {
width: 95%;
  margin: auto;
}

.logo img {
  width: 150px;
  margin: 10px auto auto auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
margin: auto;
  background-color: #fff;
  margin: auto 20px;


}

nav {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #1F2933;
  border-bottom: solid 5px transparent;
  transform: all 3s ease;
  padding: 5px;

}

nav a:hover {
  border-bottom: solid 5px #1F2933;
  transform: all 3s ease;
  padding: 5px;
  border-radius: 3px;

}

.book-now {
  width: 150px;
  padding: 10px;
  margin: 10px;
  background-color:  #0B3C5D;
  color: #fff;
  border: none;
  border-radius: 15px;
}

.book-now:hover {
  background-color: #C9D6DF;
  color: #0B3C5D;
  border: none;
  cursor: pointer
}

.hero {
   border-top: solid 3px #1F2933;
  width: 100%;
  height: 500px;
  margin: 10px auto auto auto;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background-color: #0B3C5D;
  background-image: url(./images/f0c472b0eda61e0c16af52402cfbc566.jpg);
  background-position: center;
  background-size: cover;
 position: relative;
 isolation: isolate;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color:  #036490;
  z-index: -1;
  opacity: 0.6;
}

.hero .left-text {
  margin: auto 40px;
  color: #fff;
}

.hero .left-text p {
  font-size: 12px;
}

h1 {
  font-size: 3rem;
}

.book-button {
  min-width: 200px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  border:none;
  color: #0B3C5D;
}

.book-button:hover {
  min-width: 200px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  border:none;
  color:#fff;
  background-color: #0B3C5D;
  cursor: pointer;
}

.hero-form {
  max-width: 400px;
  background-color: #fff;
  margin: auto 40px;
  border-radius: 5px;
  padding: 20px;

}

.hero-form h3 {
  color: #0B3C5D;
  font-size: 14px;
  margin: 30px auto;
}

form {
 width: 300px;
 height: auto;
  
}

.input-field {
  max-width: 100%;
  margin: auto;
  position: relative;
  
}

.input-field-name label {
  font-size: 12px;
  position: absolute;
   padding: 5px;
  color: #1F2933;
}

.input-field-email label {
  font-size: 12px;
  position: absolute;
 padding: 5px;
 color: #1F2933;
}

.input-field-tel label {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  color: #1F2933;
}

input {
 width: 100%;
  margin-bottom: 20px;
  border: solid 1px #ddd;
   height:50px;
}

input:focus {
  outline: none;
  border-left: solid 3px #0B3C5D;
}

button[type=submit]{
  min-width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
background-color: #0B3C5D;
color: #fff;
}

button[type=submit]:hover {
  background-color: #C9D6DF;
  color: #0B3C5D;
  border: none;
  cursor: pointer;
}

.form-footer p {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #1F2933;
  margin: 20px auto;

}